{% include "common/main.j2" %}
{% block content %}
    <div class="mx-auto project-list">
        <h2>Current bytes stored</h2>
            <div>
                {{ current_size }}
            </div>
        <h2>What would you like to do?</h2>
    </div>
{% endblock %}
